body {
    font-family: 'Roboto', sans-serif;
}
.text-muted {
    color: #AFABAB;
}
.btn {
	border-radius: 50px;
	border-color: #0396A6;
  &.btn-lg {
    padding-left: 35px;
    padding-right: 35px;
  }
	&.btn-primary {
		background-color: #0396A6;
	}
}
a.text-link {
	color: #04BFAD;
	&:hover {
		text-decoration: underline;
	}
}
.card {
	border-radius: 20px;
}

.border{
	border-width: 1px;
	border-color: #0396A6;
	&.border-primary{
		border-color: #0396A6;
	}
}
